*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer{
    height: 75px;
    background-color: rgb(34, 42, 60);
    display: flex;
    align-items: center;
}

.jumbo-image{
    width: 200px;
}

.bg-lightgreen{
    background-color: rgb(58, 160, 122);
}

.bg-data{
    background-color: rgb(51, 64, 93);
}

.my-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 15px 0;
}

.message-input{
    padding-bottom: 100px;
}

.circle-icons{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.star-container::before, .star-container::after{
    content: "";
    width: 25%;
    height: 4px;
    background-color: white;
    display: inline-block;
    line-height: 4px;
    border-radius: 2px;
    vertical-align: middle;
}

.black-star-container::before, .black-star-container::after{
    content: "";
    width: 25%;
    height: 4px;
    background-color: rgb(25, 25, 25);
    display: inline-block;
    line-height: 4px;
    border-radius: 2px;
    vertical-align: middle;
}