*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer{
    height: 75px;
    background-color: rgb(34, 42, 60);
    display: flex;
    align-items: center;
}

.ul-header{
    list-style: none;
}

.title-content{
    height: 100px;
}

.content{
    height: 200px;
}

.bg-white{
    background-color: white;
}

.bg-lightgreen{
    background-color: rgb(58, 160, 122);
}

.border-black{
    border: 1px solid black;
}

.bg-red{
    background-color: rgb(190, 77, 77);
}

.bg-skyblue{
    background-color: rgb(71, 155, 188);
}

.bg-lightblue{
    background-color: rgb(19, 114, 146);
}

.bg-blue{
    background-color: blue;
}

.bg-bisque{
    background-color: rgb(179, 158, 132);
}

.bg-data{
    background-color: rgb(51, 64, 93);
}