*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 75px;
    background-color: rgb(34, 42, 60);
}

.content{
    height: 200px;
}

.bg-white{
    background-color: white;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.border-black{
    border: 1px solid black;
}